.App {
  margin: auto;
  width: 100%;
}
.serviceBox {
  width: 100%;
  height: 53px;
  background-color: #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  position: relative;
}
.serviceMainText {
  margin: auto;
  display: inline-block;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  font-family: ModernNAP-Text;
 
}

.serviceText1 {
  display: inline-block;
  position: absolute;
  top: 17px;
  left: 25px;
  font-size: 11px;
  font-family: 'Gill Sans MT', sans-serif;
}

.serviceText2 {
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 80px;
  font-size: 11px;
  font-weight: 500;
  font-family: 'Gill Sans MT', sans-serif;
}

.serviceMenu {
  display: inline-block;
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 11px;
  
}

.serviceLink {
  border-left: 1px solid black;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: black;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
